body{font-family:'IBM Plex Sans',Arial,sans-serif;font-size:16px;color:#000000}
.wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
.row {
  display: flex;
}
.row > .column {
  margin: 9px;
  padding: 9px;
  flex: 1;
}
