/*
*
* GIN Framework - Typography
*
 */

@font-face {
  font-family: 'IBM Plex Sans Regular';
  src: url('../assets/fonts/IBM_sans/eot/IBMPlexSans-Regular.eot'); /* IE9 Compat Modes */
  url('../assets/fonts/IBM_sans/woff2/IBMPlexSans-Regular-Latin1.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/IBM_sans/woff/IBMPlexSans-Regular-Latin1.woff') format('woff'), /* Pretty Modern Browsers */
  url('../assets/fonts/IBM_sans/ttf/IBMPlexSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'IBM Plex Sans RegularItalic';
  src: url('../assets/fonts/IBM_sans/eot/IBMPlexSans-Italic.eot'); /* IE9 Compat Modes */
  url('../assets/fonts/IBM_sans/woff2/IBMPlexSans-Italic-Latin1.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/IBM_sans/woff/IBMPlexSans-Italic-Latin1.woff') format('woff'), /* Pretty Modern Browsers */
  url('../assets/fonts/IBM_sans/ttf/IBMPlexSans-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'IBM Plex Sans Bold';
  src: url('../assets/fonts/IBM_sans/eot/IBMPlexSans-Bold.eot'); /* IE9 Compat Modes */
url('../assets/fonts/IBM_sans/woff2/IBMPlexSans-Bold-Latin1.woff2') format('woff2'), /* Super Modern Browsers */
url('../assets/fonts/IBM_sans/woff/IBMPlexSans-Bold-Latin1.woff') format('woff'), /* Pretty Modern Browsers */
url('../assets/fonts/IBM_sans/ttf/IBMPlexSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'IBM Plex Sans BoldItalic';
  src: url('../assets/fonts/IBM_sans/eot/IBMPlexSans-BoldItalic.eot'); /* IE9 Compat Modes */
url('../assets/fonts/IBM_sans/woff2/IBMPlexSans-BoldItalic-Latin1.woff2') format('woff2'), /* Super Modern Browsers */
url('../assets/fonts/IBM_sans/woff/IBMPlexSans-BoldItalic-Latin1.woff') format('woff'), /* Pretty Modern Browsers */
url('../assets/fonts/IBM_sans/ttf/IBMPlexSans-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
}

$font-family__regular: 'IBM Plex Sans Regular';
$font-family__regular-italic: 'IBM Plex Sans RegularItalic';
$font-family__bold: 'IBM Plex Sans Bold';
$font-family__bold-italic: 'IBM Plex BoldItalic';

$font-weight__regular: 400;
$font-weight__bold: 600;

$font-size__regular: $size__base;
$font-size__h1: calculateRem($font-size__regular*3);
$font-size__h2: calculateRem($font-size__regular*2);
$font-size__h3: calculateRem($font-size__regular*1.5);
$font-size__small: calculateRem($font-size__regular/2);

$line-height__regular: 1.5em;

body {
  font-family: $font-family__regular;
  font-weight: $font-weight__regular;
  font-size: $font-size__regular;
  line-height: $line-height__regular;
}

p {
  font-family: $font-family__regular;
  font-weight: $font-weight__regular;
  font-size: $font-size__regular;
  line-height: $line-height__regular;
  margin-bottom: calculateRem($size__small);
}

h1 {
  font-family: $font-family__bold;
  font-weight: $font-weight__bold;
  font-size: $font-size__h1;
  line-height: $line-height__regular;
  margin-bottom: calculateRem($size__grid);
}

h2 {
  font-family: $font-family__bold;
  font-weight: $font-weight__bold;
  font-size: $font-size__h2;
  line-height: $line-height__regular;
  margin-bottom: calculateRem($size__base);
}

h3 {
  font-family: $font-family__regular;
  font-weight: $font-weight__regular;
  font-size: $font-size__h3;
  line-height: $line-height__regular;
  margin-bottom: calculateRem($size__small);
}

i, em {
  font-family: $font-family__regular-italic;
}

b, strong {
  font-family: $font-family__bold;
}

i b, b i, i strong, strong i, em b, b em, em strong, strong, em {
  font-family: $font-family__bold-italic;
}

a {
  color: $color__text;
  text-decoration: none;
  padding-bottom: calculateRem(2px);
  border-bottom: solid 1px $color__text;
  &:hover {
    color: $color__primary;
    border-bottom: solid calculateRem(1px) $color__text;
  }
}
