/*
*
* Gleichstrøm Industries - Styles
*
 */

@import 'functions';
@import 'variables';
@import 'typography';

body {
  color: $color__text;
}

.wrapper {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
.row {
  display: flex;
}

.column {
  margin: $size__small;
  padding: $size__small;
  flex: 1;
}

.color__primary {
  color: $color__primary;
}

.color__text-faded {
  color: grey;
}

.gi_version {

}
.work-icon img {
  max-width: 100%;
}
